@{
    ViewData["Title"] = "Email confirmation";
}

<h1>A letter has been send, procceed the link to confirm your email <small><a asp-controller="Account"
                                                                              asp-action="Index">return</a></small></h1>